<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog dos 3 Melhores do Mundo | {% block "title"%}{% endblock %}</title>
</head>

<body>
    <header>
        <h1><a href="{% url 'index' %}">THE BESTS 🐐</a></h1>
    </header>
    <main>
        {% block "content" %}
        {% endblock %}
    </main>
    <footer>
        <p><i>Desenvolvedor: José Cassiano - 17 anos, bodybuilder e gosta de pizza :D</i></p>
        <!-- O blog deve ter um header com o título e link para o index, e um "footer com informações do desenvolvedor" -->
    </footer>
</body>

</html>